<h1>Number of each coin needed</h1>
<ul style='list-style-type:none'>
  <li><%= @change[0] %> Quarters</li>
  <li><%= @change[1] %> Dimes</li>
  <li><%= @change[2] %> Nickels</li>
  <li><%= @change[3] %> Pennies</li>
</ul>
