<h1>How much change is owed?</h1>
<h2>Please enter the number of cents as a whole number</h2>
<form action='/change'>
  <div class='form-group'>
    <label for='cents'>Cents</label>
    <input id='cents' name='cents' class='form-control' type='text'>
  </div>

  <button type='submit' class='btn'>Calculate Change</button>
</form>
