<DOCTYPE! html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
    <title>Gimme Some Change</title>
  </head>

  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
